[submodule "Hermes"]
	path = Hermes
	url = git@github.com:SandToSystem/Hermes.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = git@github.com:SandToSystem/riscv-tests.git
[submodule "Eos"]
	path = Eos
	url = git@github.com:SandToSystem/Eos.git
